@charset "UTF-8";
/*css 初始化 */
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img { margin:0; padding:0; }
fieldset, img,input,button { border:none; padding:0;margin:0;outline-style:none; }
ul, ol { list-style:none; }
input { padding-top:0; padding-bottom:0; font-family: "SimSun","宋体";}
select, input { vertical-align:middle;}
select, input, textarea { font-size:12px; margin:0; }
textarea { resize:none; } /*防止拖动*/
img {border:0;	vertical-align:middle; }  /*  去掉图片底部默认的3像素空白缝隙*/
table { border-collapse:collapse; }
body {
    font:12px/150% Arial,Verdana,"\5b8b\4f53";
    color:#666;
    background:#fff
}
.clearfix:before,.clearfix:after {
    content:"";
    display:table;
}
.clearfix:after{clear:both;}
.clearfix{
    *zoom:1;/*IE/7/6*/
}
a {color:#666; text-decoration:none; }
a:hover{color:#C81623;}
h1,h2,h3,h4,h5,h6 {text-decoration:none;font-weight:normal;font-size:100%;}
s,i,em{font-style:normal;text-decoration:none;}
.col-red{color: #C81623!important;}

/*公共类*/
.w {  /*版心 提取 */
    width: 1210px;margin:0 auto;
}
.fl {
    float:left
}
.fr {
    float:right
}
.al {
    text-align:left
}
.ac {
    text-align:center
}
.ar {
    text-align:right
}
.hide {
    display:none
}

#mask {
    width: 100%;
    height: 100%;
    background:rgba(0,0,0,.5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    display: none;
}
#box {
    display: none;
    width: 400px;
    height: 250px;
    background-color: #fff;
    position: fixed;
    top:50%;
    left:50%;
    margin:-125px 0 0 -200px;
    z-index: 1000;
}
#box span {
    position: absolute;
    top:10px;
    right:10px;
    width:15px;
    height:15px;
    font-size:15px;
    cursor: pointer;
}
#mask1 {
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    display: none;
}
#box1 {
    width: 400px;
    height: 250px;
    background: #fff;
    position: fixed;
    top: 50%;
    left: 50%;
    margin: -125px 0 0 -200px;
    z-index: 1000;
    display: none;
}
#box1 span {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 15px;
    height: 15px;
    font-size: 15px;
    cursor: pointer;
}
/*头部导航开始*/
.shortcut {
    height: 30px;
    line-height: 30px;
    background: #F1F1F1;
}

.dt,
.shortcut .fore{
    padding:0 25px 0 15px;
    position: relative;
}

.dt i,
.fore i
{
    font : 700 15px/15px "宋体";
    position: absolute;
    right: 3px;
    top: 13px;
    height: 7px;
    overflow: hidden;
    width: 15px;
}

.dt s,
.fore s
{
    position: absolute;
    top: -8px;
    left: 0;
    width: 15px;
}

.fr li {
    float: left;
    padding:0 10px;
}
.fr .line {
    width: 1px;
    height: 12px;
    background: #DDD;
    margin-top: 9px;
    padding: 0;
}

.shortcut .tel-jd {
    padding: 0 20px 0 25px;
    position: relative;
}
.fore .tel {
    width: 15px;
    height: 20px;
    background: url(../images/jd2015img.png) no-repeat;
    position: absolute;
    top: 5px;
    left: 5px;
}
/*头部导航结束*/
/*topbanner start*/
.topbanner {
    background-color: #8A25C6;
}
.close-banner {
    position: absolute;
    right: 0;
    top: 5px;
    width: 19px;
    height: 19px;
    background: url(../images/close.png) no-repeat;
}
.close-banner:hover {
    background-position: bottom;
}
.tp {
    position: relative;
}
/*topbanner end*/
/*搜索部分开始*/
.logo {
    width: 362px;
    height: 75px;
    float: left;
    background: url(../images/jdlogo.png) no-repeat 0 25px;
}

.search {
    width: 538px;
    height: 36px;
    float: left;
    margin-top: 25px;
}

.search input {
    width: 450px;
    height: 32px;
    border: 2px solid #B61D1D;
    padding-left: 4px;
    color: #666;
    font: 14px/12px "Microsoft YaHei";
    float: left;
}

.search button {
    width: 80px;
    height: 36px;
    background: #B61D1D;
    float: left;
    font: 16px/12px "Microsoft YaHei";
    color: #FFFFFF ;
    cursor: pointer;
}
.shop {
    width: 96px;
    float: right;
    margin: 25px 65px 0 0 ;
    padding-left: 43px;
    line-height: 34px;
    border: 1px solid #DFDFDF;
    position: relative;
}

.logo-jd {
    width: 270px;
    height: 60px;
    text-indent: -2000em;
    display: block;
    padding: 20px 0;
}

.icon1 {
    position: absolute;
    top: 10px;
    left: 19px;
    width: 16px;
    height: 13px;
    background: url(../images/jd2015img.png) no-repeat -1px -59px;
}

.icon2 {
    font:400 13px/13px "Microsoft YaHei";
    position: absolute;
    top: 10px;
    right: 10px;
}

.icon3 {
    position: absolute;
    width: 16px;
    height: 14px;
    background: #C81623;
    line-height: 14px;
    text-align: center;
    color: #FEF8F9;
    top: -4px;
    border-radius: 7px 7px 7px 0;
}

.hotword {
    width: 500px;
    height: 28px;
    float: left;
    line-height:28px;
}

.hotword a {
    padding-right:5px;
}
/*搜索部分结束*/

/*nav部分开始*/
.jd_nav {
    width: 100%;
    height: 44px;
    border-bottom: 2px solid #B1191A;

}

.dropdown{
    width: 210px;
    height: 44px;
    float: left;
    background-color: #B1191A;
    position: relative;
    z-index: 10;
}

.dropdown .dd{
    height: 465px;
    background-color: #C81623;
    margin-top: 2px;
}

.dropdown .dtb a{
    height: 44px;
    padding-left: 10px;
}

.dropdown .dtb a {
    display: block;
    height: 44px;
    font :400 15px/44px "Microsoft YaHei";
    color: #fff;
}


.dropdown .items {
    height: 31px;
    line-height: 31px;
    border-left: 1px solid #b61d1d;
    padding-left: 10px;
    color: #fff;
    font-size: 14px;
    font-family: "Microsoft YaHei";
}

.dropdown .items h3 {
    float: left;
}

.dropdown .items span {
    float: right;
    margin-right: 11px;
    font-family: "宋体";
    font-weight: 600;
}

.navitems {
    width: 745px;
    height: 44px;
    background: #FFF;
    float: left;
}

.navitems li {
    float: left;
}

.navitems .beautiful {
    background: url(../images/NEW.png) no-repeat right top;
}

.navitems li a {
    display: inline-block;
    font : 400 16px/44px "Microsoft YaHei";
    height: 44px;
    color: #333;
    padding: 0 20px;
}

.navitems li a:hover {
    color: #B1191A;;
}

.bike {
    width: 200px;
    height: 50px;
    float: right;
    background: url(../images/gjjx.jpg) no-repeat;
    position: absolute;
    top: 178px;
    right: 117px;

}

.line1 {
    margin-top: 11px;
    position: relative;
}
/*底部开始*/
.slogen {
    height: 54px;
    padding: 20px 0;
    background-color: #F5F5F5;
    position: relative;
}

.item {
    width: 302px;
    position: absolute;
    left: 50%;
    top: 20px;
}

.slogen1 {
    margin-left: -608px;
}

.slogen2 {
    margin-left: -304px;
}

.slogen3 {
    margin-left: 2px;
}

.slogen4 {
    margin-left: 304px;
}

.service dl {
    width: 199px;
    float: left;
}

.service dt,
.area{
    margin-top: 15px;
    padding: 6px 0;
    font: 16px/24px "Microsoft YaHei";
}

.map .area {
     margin-top: 0;
 }
.service dd {
    height: 20px;
}

.map {
    float: right;
    padding-top: 26px;
    width: 210px;
    height: 165px;
    background: url(../images/map.png) no-repeat left bottom;
}

.content p {
    line-height: 18px;
}
.jdps {
    padding-top: 15px;
}

.ckxq {
    float: right;
}

.againw {
    border-top: 1px solid #E5E5E5;
    padding-top: 23px;
    margin-top: 30px;
    text-align: center;
}

.links {
    height: 18px;
}
.links a {
    padding:0 6px;
}

.copyright {
    margin: 10px 0;
    line-height:20px;
}

.message a {
    padding-right: 13px;
    margin:0 auto;
}

.message img {
    width: 103px;
    height: 32px;
}
/*底部结束*/

