@charset "UTF-8";

.banner604 {
    position: relative;
}

.banner604 a {
    width: 100%;
    height: 604px;
    position: absolute;
    top: 0;
    left: 0;
    background: url(../images/banner.jpg) no-repeat top center;

}
.main {
    position: relative;
}

.slider {
    margin: 12px 0 0 220px;
    height: 454px;
    width: 730px;
    float: left;
    position: relative;
}

.cricle {
    position: absolute;
    bottom: 8px;
    left: 50%;
    margin-left: -100px;
}

.cricle li {
    height: 18px;
    width: 18px;
    border-radius: 50%;
    background-color: #3E3E3E;
    float: left;
    text-align: center;
    line-height: 18px;
    color: #fff;
    margin: 0 2px;
    cursor: pointer;
}

.arrow-l,.arrow-r {
    position: absolute;
    width: 28px;
    height: 62px;
    top: 50%;
    margin-top: -31px;
    font: 500 18px/62px "SimSun";
    text-align: center;
    background-color: rgba(0,0,0,.2);
}

.arrow-l {
    left: 0;
}

.arrow-r {
    right: 0;
}

.arrow-l a,.arrow-r a {
    display: block;
    width: 28px;
    height: 62px;
}
.arrow-l a:hover,.arrow-r a:hover {
    display: block;
    width: 28px;
    height: 62px;
    background-color: rgba(0,0,0,.4);
    color: #fff;
}
.news {
    margin-top: 12px;
    float: right;
    width: 250px;
}

.newtop {
    width: 248px;
    height: 372px;
    border: 1px solid #E4E4E4;
}

.oba {
    width: 250px;
    height: 75px;
    background: url(../images/ouba.jpg) no-repeat;
    margin-top: 5px;
}

.jdkb {
    height: 32px;
    padding-left: 15px;
    border-bottom: 1px dashed #E4E4E4;
    font: normal 16px/32px "Microsoft YaHei";
}

.jdkb h3 {
    float: left;
}

.jdkb span {
    float: right;
    font-size: 12px;
    margin-right: 21px;
}

.jdkb s {
    float: right;
    padding-left: 9px;
    font-family: "consolas";
    font-size: 14px;
    font-weight: 400;
}

.mc {
    border-bottom: 1px solid #E4E4E4;
}

.mc ul {
    padding: 8px 0 0 15px;
}
.mc li {
    line-height: 24px;
    font-size: 12px;
}

.mc span {
     font-weight: 700;
 }

.lifesev {
    height: 251px;
    width: 248px;
    overflow: hidden;
}

.lifesev ul {
    width: 248px;
}

.lifesev li {
    width: 62px;
    height: 70px;
    float: left;
    border-right: 1px solid #E4E4E4;
    border-bottom: 1px solid #E4E4E4;
    margin: -1px 0 0 -1px;
}

.lifesev li i {
    display: block;
    width: 25px;
    height: 25px;
    background: url(../images/sevice.png) no-repeat right top;
    position: absolute;
    top: 12px;
    left: 18px;
}
.lifesev li a {
    display: block;
    height: 22px;
    text-align: center;
    padding-top: 48px;
    position: relative;
}
